@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400&display=swap');

$theme-font-lato: 'Lato', sans-serif;
$theme-font-roboto: 'Roboto', sans-serif;
$main-color: #FFFFFF;